.title {
  font-weight: var(--fw-bold);
  line-height: 1.2;
  letter-spacing: 1px;
  max-width: 80%;

  .text {
    background-image: linear-gradient(120deg, var(--support-color) 100%, var(--support-color) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.3em;
    background-position: 0 85%;
    transition: background-size 0.25s ease-in;
    
    &:hover {
      background-size: 100% 85%;
    }
  }

  .emoji {
    margin-left: 15px;
  }
}

h1.title {
  font-size: 2.5rem;
  margin-bottom: 1em;
}

h2.title {
  font-size: 2rem;
  max-width: 100%;
  margin-bottom: 0.8em;

  .text {
    background-size: 100% 65%;
    background-position: 0 65%;
    &:hover {
      background-size: 100% 65%;
    }
  }
}

h3.title {
  font-size: 1.5rem;
  margin-bottom: 0.3em;

  .text {
    background: none;
  }
}
