.header {
    width: calc(100vw - 60px);
    height: 3rem;
    background-color: var(--header-background);
    color: var(--header-text);
    font-weight: var(--fw-bold);
    font-size: 3rem;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: var(--zi-header);

    @media only screen and (max-width: 768px){
      font-size: 1.5rem;
    }

    .header__title {
      cursor: pointer;
      letter-spacing: 0.2em;
    }

    .header__icons {
      display: none;
      font-size: 1rem;
      svg {
        cursor: pointer;
        width: 1.7em;
        height: 1.7em;
        fill: var(--secondary-color);
		    margin-left: 0.5em;
      }

      @media only screen and (max-width: 768px){
        display: flex;
      }
    }
}
