:root {
  --support-color: #ABC4E1;
  --primary-color: #000;
  --secondary-color: #fff;
  --txt-color: var(--primary-color);
  --background-color: var(--secondary-color);
  --header-background: var(--primary-color); 
  --header-text: var(--secondary-color);

  --fs-xlarge: 3em; // 48px
  --fs-large: 1.125em; // 18px
  --fs-medium: 0.9375em; // 15px
  --fs-regular: 0.8125em; // 13px 

  --fw-bold: bold;
  --fw-regular: normal;

  --ff-primary: 'Titillium Web', sans-serif;
  --ff-navbar: orator-std, monospace;
}